*.class

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IntelliJ IDEA modules and interim config files.
*.iml
.idea/libraries
.idea/artifacts
.idea/*.xml
.idea/*.patch

# Gradle interim configs
.gradle/*

# Generated source code
*/generated/*

# Output
*/out/*

# Gradle build files
build/*
*/build/*
